:root {
--text:#79a2ac;
--text-unfocused:#ee4f47;
--text:#79a2ac;
--border:#48c3c5;
--background:rgba(36, 15, 22, 1);
--boxbackground:#12101d;
--yellow:#fefa08;
}

*{
font-family:Play;
font-size:15px;
color:var(--text);
}
body{
background-color:var(--background);
}
div{
width:auto;
justify-content: center;
max-width: 30%;
margin:5px 0px;
}
input:hover{
background:var(--boxbackground);
}
input{
background:var(--background);
border:none;
margin:5px;
}
#area{
padding:10px;
width:230px;
}

div:hover{
background-image:linear-gradient(180deg, var(--yellow), var(--yellow)),linear-gradient(225deg, var(--yellow), var(--yellow)),linear-gradient(0deg, var(--yellow), var(--yellow)),linear-gradient(90deg, var(--yellow), var(--yellow)),linear-gradient(135deg, transparent 9px, var(--yellow) 10px, var(--yellow) 1px, transparent 12px),linear-gradient(180deg, var(--boxbackground), var(--boxbackground)),linear-gradient(135deg,var(--boxbackground), var(--boxbackground)),linear-gradient(135deg, var(--boxbackground),var(--boxbackground) 65%, transparent 75%);
background-position:bottom left,top left,top right,top right,bottom right,top left,top right,bottom right;
background-size:calc(100% - 7px) 1px,1px 100%,100% 1px,1px calc(100% - 7px),10px 12px,calc(100% - 7px),10px calc(100% - 7px),10px 12px;
background-repeat: no-repeat;
}
div{
color:var(--text-unfocused);
background-image:linear-gradient(180deg, var(--border), var(--border)),linear-gradient(225deg, var(--border), var(--border)),linear-gradient(0deg, var(--border), var(--border)),linear-gradient(90deg, var(--border), var(--border)),linear-gradient(135deg, transparent 9px, var(--border) 10px, var(--border) 1px, transparent 12px),linear-gradient(180deg, var(--background), var(--background)),linear-gradient(135deg,var(--background), var(--background)),linear-gradient(135deg, var(--background),var(--background) 65%, transparent 75%);
background-position:bottom left,top left,top right,top right,bottom right,top left,top right,bottom right;
background-size:calc(100% - 7px) 1px,1px 100%,100% 1px,1px calc(100% - 7px),10px 12px,calc(100% - 7px),10px calc(100% - 7px),10px 12px;
background-repeat: no-repeat;
}