*{
	font-family:Blender Pro Bold,Symbols Nerd Font Mono;
	font-size:15px;
}

html, body{
	height: 100%;
	overflow-x:hidden ;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
}
header{
height: 50px;
}
a{
	color:white;
	text-decoration: none;
}
#logo,nav ul li{
    float: left;
}
nav ul{
    list-style: none;
    margin: 20px;
    float: right;
}
a:hover{
    color:gray;
}
nav ul li a:link{
    display:block ;
    text-transform: uppercase;
}
.centro{
max-width: fit-content;
margin:auto;
margin-top:200px;
}
.caixa{
text-align:center;
margin: 0 auto;
color:white;
border:1px solid white;
border-radius:20px;
padding:8px;
margin:0px 3px;
background:rgba(0,0,0,0.5);
backdrop-filter: blur(4px);
}
.grande{
font-size:30px;
margin:30px;
}
.fright{
float:right;
}
.fleft{
text-align:left;
}
.botao{
display:block;
}
.barra{
margin;auto;
width:50%;
float:left;
background:white;
border-radius:5px;
}
bar{
width:100px;
border:1px solid white;
}