.conteudo{
    background: blue;
    border: 1px solid grey;
    width: 150px;
    height: 150px;
    float: left;
}
#pog{
    background-color: yellowgreen;
    border: 1px solid yellow;
}

